html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Rajdhani", sans-serif !important;
}

.styled-navbar {
  text-align: center;
  padding: 10px 0;
}

.navbar-item {
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 1rem;
}
#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 10px 20px;
  text-align: left;
}
main {
  margin: auto;
  width: 50%;
  padding: 10px;
  height: 95vh;
}

.pac-container {
  border-radius: 6px !important;
  /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) !important; */
  background-color: hsl(220, 14%, 9%) !important;
  border-top: none;
}

.pac-item,
.pac-matched,
.pac-item-query {
  background-color: #363636 !important;
  color: #fff;
  border: none;
  /* border-radius: 6px; */
}

.pac-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer {
  position: sticky;
  bottom: 100;
  left: 0;
  width: 100%;
}
.buttonHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  max-width: 200px;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

footer li {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.bmc-button-container {
  transform: scale(0.75);
  transform-origin: center center;
}
#bmac {
  padding: 0;
  margin: 0;
}
