<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename= 'img/tempIcon.png') }}"
    />
    <!--JavaScript -->
    <script
      rel="script"
      src="{{ url_for('static', filename='js/scripts.js') }}"
    ></script>
    <script
      rel="script"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
  </head>
  <body>
    <main>{% block main %}{% endblock %}</main>
    {% for message in get_flashed_messages() %}
    <div class="flash">
      <!-- <button
        type="button"
        class="close"
        data-dismiss="alert"
        onclick="document.body.removeChild(this.parentNode)"
      >
        &times;
      </button> -->
      {{ message }}
    </div>
    {% endfor %}
    <footer>
      <ul>
        <li>Akhil Deshpande</li>
      </ul>
    </footer>
  </body>
</html>
