<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friend Requests</title>
  </head>
  <body>
    <h1>Friend Requests</h1>
    <ul>
      {% for request in requests %}
      <li>
        {{ request.sender.username }}
        <a href="{{ url_for('main.accept_request', request_id=request.id) }}"
          >Accept</a
        >
        <a href="{{ url_for('main.reject_request', request_id=request.id) }}"
          >Reject</a
        >
      </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('main.home') }}">Home</a>
  </body>
</html>
